.projects-page{
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects-container{
    display: flex;
}
.project-list-container{
    /* margin-right: 20px; */
}
.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-y: auto;
}
.projects-actions{
    margin-bottom: 30px;
}