.projects-page{
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project-list-container{
    margin-right: 20px;
}
.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-y: auto;
}